<!-- NAVIGATION -->
<app-nav></app-nav>

<!-- CONTENT -->
<div class="container">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title" translate>HOME.TITLE</h5>
      <h6 class="card-subtitle mb-2 text-muted" translate>HOME.SUBTITLE</h6>
      <p class="card-text" translate>HOME.NGXOPTIONS</p>
      <ul>
        <li translate>HOME.TEXTS</li>
        <li translate>HOME.DATES</li>
        <li translate>HOME.NUMBERS</li>
        <li translate>HOME.PERCENTAGES</li>
        <li translate>HOME.CURRENCIES</li>
      </ul>
      <p class="card-text" translate>HOME.PLURALALTERNATIVES</p>
    </div>
  </div>

  <hr>

  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <p class="card-text">{{ 'HOME.HELLO' | translate:{name:userName} }}</p>
        <p class="card-text" translate [translateParams]="{date: now | date:'long':'':translate.currentLang, count: minutes}">
          HOME.TEXTWITHPARAMAS
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <button class="btn btn-large btn-danger" (click)="showWarning()" translate>HOME.SHOWALERT</button>
      </div>
    </div>
  </div>

  <hr>

  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" translate>HOME.DATES</h5>
        <p class="card-text">
          {{ now | date:'longDate':'':translate.currentLang }}
        </p>
        <p class="card-text">
          {{ now | date:'shortDate':'':translate.currentLang }}
        </p>
        <p class="card-text">
          {{ now | date:'short':'':translate.currentLang }}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" translate>HOME.NUMBERS</h5>
        <p class="card-text">
          {{ 100000000 | number:'':translate.currentLang }}
        </p>
        <p class="card-text">
          {{ 100000.23 | number:'':translate.currentLang }}
        </p>
        <p class="card-text">
          {{ 51.043534423 | number:'':translate.currentLang }}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" translate>HOME.CURRENCIES</h5>
        <p class="card-text">
          {{ 1000000 | currency:'CHF':'code':'':translate.currentLang }}
        </p>
        <p class="card-text">
          {{ 100.15 | currency:'CHF':'code':'':translate.currentLang }}
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" translate>HOME.PERCENTAGES</h5>
        <p class="card-text">
          {{ 1.2 | percent:'':translate.currentLang }}
        </p>
        <p class="card-text">
          {{ 0.034532 | percent:'0.2-2':translate.currentLang }}
        </p>
        <p class="card-text">
          {{ 0.00011255 | percent:'0.3-5':translate.currentLang }}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" translate>HOME.PLURALS</h5>
        <p class="card-text">
          {{ 'HOME.TIME' | translate:{minutes:minutes} | translateSelector:minutes }}
        </p>
        <button class="btn btn-sm btn-primary" (click)="minutes = minutes - 1;">-</button>
        <button class="btn btn-sm btn-light">&nbsp;&nbsp;{{minutes}}&nbsp;&nbsp;</button>
        <button class="btn btn-sm btn-primary" (click)="minutes = minutes + 1;">+</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" translate>HOME.ALTERNATETEXTS</h5>
        <p class="card-text">
          <span>{{ 'HOME.THEAUTHOR' | translate }}
            <strong>{{ 'HOME.GENDER' | translate:{gender:gender} | translateSelector:gender }}</strong>
          </span>
        </p>
        <button class="btn btn-sm btn-primary" (click)="gender = 'f'" translate>HOME.FEMALE</button>
        <button class="btn btn-sm btn-primary" (click)="gender = 'm'" translate>HOME.MALE</button>
        <button class="btn btn-sm btn-primary" (click)="gender = 'o'" translate>HOME.OTHER</button>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        Angular Localization - Trivadis AG, Raphael Bolliger
      </div>
    </div>
  </footer>
</div>