<!-- NAVIGATION -->
<app-nav></app-nav>

<!-- CONTENT -->
<div class="container">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Angular ngxTranslate localization</h5>
      <h6 class="card-subtitle mb-2 text-muted">Localizable content</h6>
      <p class="card-text">
        With ngxTranslate you have a wide range of options to localize your application.
      </p>
      <ul>
        <li>Texts</li>
        <li>Dates</li>
        <li>Numbers</li>
        <li>Percentages</li>
        <li>Currencies</li>
      </ul>
      <p>You are also able to handle plural forms of words and alternative texts of images and other html components.</p>
    </div>
  </div>

  <hr>

  <div class="card">
    <div class="card-body">
      <p class="card-text">
        Since your last registration on {{now | date:'shortDate'}}, {{minutes}} new articles have been published.
      </p>
    </div>
  </div>

  <hr>

  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dates</h5>
        <p class="card-text">
          <small>{{ now | date:'fullDate' }}</small>
        </p>
        <p class="card-text">
          <small>{{ now | date:'longDate' }}</small>
        </p>
        <p class="card-text">
          <small>{{ now | date:'short' }}</small>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Numbers</h5>
        <p class="card-text">
          {{ 100000000 | number }}
        </p>
        <p class="card-text">
          {{ 100000.23 | number }}
        </p>
        <p class="card-text">
          {{ 51.043534423 | number }}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Currencies</h5>
        <p class="card-text">
          <small>{{ 1000000 | currency }}</small>
        </p>
        <p class="card-text">
          <small>{{ 100.15 | currency }}</small>
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Percentages</h5>
        <p class="card-text">
          <small>{{ 1.2 | percent }}</small>
        </p>
        <p class="card-text">
          <small>{{ 0.034532 | percent:'0.2-2' }}</small>
        </p>
        <p class="card-text">
          <small>{{ 0.00011255 | percent:'0.3-5' }}</small>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Plurals</h5>
        <p class="card-text">
          <span>Updated { minutes, plural, =0 {just now} =1 {one minute ago} other { {{minutes}} minutes ago } }</span>
        </p>
        <button class="btn btn-sm btn-primary" (click)="minutes = minutes - 1;">-</button>
        <span>minutes: {{ minutes }}</span>
        <button class="btn btn-sm btn-primary" (click)="minutes = minutes + 1;">+</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alternative texts</h5>
        <p class="card-text">
            <span>The author is {gender, select, m {male} f {female} o {other}}</span>
        </p>
        <button class="btn btn-sm btn-primary" (click)="gender = 'f'">Female</button>
        <button class="btn btn-sm btn-primary" (click)="gender = 'm'">Male</button>
        <button class="btn btn-sm btn-primary" (click)="gender = 'o'">Other</button>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        Angular Localization - Trivadis AG, Raphael Bolliger
      </div>
    </div>
  </footer>
</div>